@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewData["title"] = "Dashboard";
    ViewData["breadcrumb"] = "Dashboard";
    ViewData["breadcrumb-item"] = "Home";
}
<div class="row">
    <div class="col col col-md-12 col-lg-12">
        <h3>Content of Dashboard</h3>
    </div>
</div>
